# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries for Data Science  
- Demonstrate basic arithmetic expressions in Python  
- Create and format markdown cells in a Jupyter Notebook  
- Use code cells to evaluate expressions

## Author

Lina Volkova